*{
    box-sizing: border-box;
}

.grid-layout {
  display: flex;
  width: 60vw;
  flex-wrap: wrap;
}

.tile {
  width: 20%;
  height: 12vw;
  background-image: url(/css/grass.png);
  background-size: cover;
}
