*{
    box-sizing: border-box;
}

.grid-layout {
  display: flex;
  width: 60vw;
  flex-wrap: wrap;
}

.tile {
  width: 20%;
  height: 100px;
  background-image: url('https://opengameart.org/sites/default/files/grass00.png');
  
}